<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %> 
    <div class="container">
        
        <h1>Welcome <%=currentUser.name%></h1>

        <div class="folder-grid">
            <h2>My Folders</h2>
            <% if(folders.length === 0){ %>
                <p>No folders yet. </p>

            <% } %>

            <% folders.forEach(folder => { %>
                <div class="folder-card card-link-wrapper" >

                    <a href="/f/<%= folder.id %>" class="card-link">Open</a>
                    <a href="/f/<%= folder.id %>" class="card-title"><%= folder.name %></a>

                </div>
                
           <% }); %>


        </div>
        <p>Create
            <a href="/f/new">New</a>.
        </p>
    </div>
    
</body>
</html>