<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %> 
    <div class="container">
        <h2><%= folder.name %></h2>
        <a href="/f/<%= folder.id %>/edit">Edit</a>

        <h3>Files:</h3>

        <div class="file-grid">
            <% if(folder.files.length === 0) { %>
                <p>No files uploaded yet.</p>
            <% } %>
            <% folder.files.forEach( file => { %>
                <div class="file-card card-link-wrapper">
                    <a href="/f/<%= folder.id %>/file/<%= file.id %>" class="card-link"> Open </a>
                 
                        <a href="/f/<%= folder.id %>/file/<%= file.id %>" class="card-title">
                         <%= file.originalName %>
                        </a>

                      <form action="/f/<%= folder.id %>/file/<%= file.id %>/delete" method="post" onsubmit="return confirm('Delete this file?');">
                          <button type="submit" class="delete">Delete</button>
                      </form>
                 
                </div>
            
            <% }) %>
        </div>

        <a href="/f/<%= folder.id %>/file/upload">Upload new file</a>
        <form action="/f/<%= folder.id %>/delete" method="post" onsubmit="return confirm('Delete this folder?');">
            <button type="submit">Delete Folder</button>
        </form>


    </div>
    



</body>
</html>