<!DOCTYPE html>
<html lang="en">
<% include('./partials/head') %>
<body>
    <div class="container">
        <h2><%= folder.name %></h2>

        <h3>Files:</h3>

        <div class="file-container">
            <% if(folder.files.length === 0) { %>
                <p>No files uploaded yet.</p>
            <% } %>
            <% folder.files.forEach( file => { %>
                <div class="file-card">
                    <a href="<%= `/file/${file.id}` %>"><%= file.name %></a>
                </div>
            
            <% }) %>
        </div>

        <a href="<%= `/f/${folder.id}/file/upload` %>">Upload new file</a>

        <a href="<%= `/f/${folder.id}/delete` %>">Delete Folder</a>
        <form action="/f/<%= folder.id %>/delete" method="post" onsubmit="return confirm('Delete this folder?');">
            <button type="submit">Delete Folder</button>
        </form>


    </div>
    



</body>
</html>